<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
    <environments default="development_druid">
        <environment id="development_druid">
            <transactionManager type="JDBC"/>
            <dataSource type="com.gao.utils.DruidDataSourceFactory">
                <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
                <property name="jdbcUrl" value="${DATABASE_URL}"/>
                <property name="username" value="${DATABASE_USER}"/>
                <property name="password" value="${DATABASE_PASSWORD}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.gao.dao"/>
    </mappers>
</configuration>