*  {
    padding: 0;
    margin:0;
}
header {
    background-color: burlywood;
    height:80px;
    width:100%;
}
h1{
    color: white;
    position: absolute;
    left: 120px;
    top:0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header ul{
    position: absolute;
    right: 5vw;
    top:0;
    line-height: 80px;
}
header a{
    color:white
}
.news{
    background-color: antiquewhite;
    color:white;
    height:85vh;
    background-image: url("images/001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.news h2{
    font-size: 60px;
}
.news p{
    color:burlywood;
    font-size: 18px;
    margin: 25px 0;
    
}
.news a{
    text-decoration:none;
    border: 1px solid #ACACAC;
    padding: 10px 20px;
}
.product{
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
}
.product div{
    width: 300px;
    text-align: center;
}
.product img{
    width: 100%;
    border-radius: 10px;
}
.product p{
    font-size: 14px;
}